/*light colors*/
$color-primary-light: theme('colors.primary.40');
$color-on-primary-light: theme('colors.primary.100');
$color-primary-container-light: theme('colors.primary.90');
$color-on-primary-container-light: theme('colors.primary.10');
$color-secondary-light: theme('colors.secondary.40');
$color-on-secondary-light: theme('colors.secondary.100');
$color-secondary-container-light: theme('colors.secondary.90');
$color-on-secondary-container-light: theme('colors.secondary.10');
$color-tertiary-light: theme('colors.tertiary.40');
$color-on-tertiary-light: theme('colors.tertiary.100');
$color-tertiary-container-light: theme('colors.tertiary.90');
$color-on-tertiary-container-light: theme('colors.tertiary.10');
$color-error-light: theme('colors.error.40');
$color-error-container-light: theme('colors.error.100');
$color-on-error-light: theme('colors.error.90');
$color-on-error-container-light: theme('colors.error.10');
$color-background-light: theme('colors.neutral.99');
$color-on-background-light: theme('colors.neutral.10');
$color-surface-light: theme('colors.neutral.99');
$color-on-surface-light: theme('colors.neutral.10');
$color-surface-variant-light: theme('colors.neutralVariant.90');
$color-on-surface-variant-light: theme('colors.neutralVariant.30');
$color-outline-light: theme('colors.neutralVariant.30');
$color-inverse-on-surface-light: theme('colors.neutral.95');
$color-inverse-surface-light: theme('colors.neutral.20');
$color-inverse-primary-light: theme('colors.primary.80');
$color-shadow-light: theme('colors.secondary.0');
$color-surface-tint-light: theme('colors.primary.40');
$color-outline-variant-light: theme('colors.neutralVariant.80');
$color-scrim-light: theme('colors.secondary.0');

/*dark colors*/
$color-primary-dark: theme('colors.primary.80');
$color-on-primary-dark: theme('colors.primary.20');
$color-primary-container-dark: theme('colors.primary.30');
$color-on-primary-container-dark: theme('colors.primary.90');
$color-secondary-dark: theme('colors.secondary.80');
$color-on-secondary-dark: theme('colors.secondary.20');
$color-secondary-container-dark: theme('colors.secondary.30');
$color-on-secondary-container-dark: theme('colors.secondary.90');
$color-tertiary-dark: theme('colors.tertiary.80');
$color-on-tertiary-dark: theme('colors.tertiary.20');
$color-tertiary-container-dark: theme('colors.tertiary.30');
$color-on-tertiary-container-dark: theme('colors.tertiary.90');
$color-error-dark: theme('colors.error.80');
$color-error-container-dark: theme('colors.error.20');
$color-on-error-dark: theme('colors.error.30');
$color-on-error-container-dark: theme('colors.error.90');
$color-background-dark: theme('colors.neutral.10');
$color-on-background-dark: theme('colors.neutral.90');
$color-surface-dark: theme('colors.neutral.10');
$color-on-surface-dark: theme('colors.neutral.90');
$color-surface-variant-dark: theme('colors.neutralVariant.30');
$color-on-surface-variant-dark: theme('colors.neutralVariant.80');
$color-outline-dark: theme('colors.neutralVariant.60');
$color-inverse-on-surface-dark: theme('colors.neutral.10');
$color-inverse-surface-dark: theme('colors.neutral.90');
$color-inverse-primary-dark: theme('colors.primary.40');
$color-shadow-dark: theme('colors.primary.0');
$color-surface-tint-dark: theme('colors.primary.80');
$color-outline-variant-dark: theme('colors.neutralVariant.30');
$color-scrim-dark: theme('colors.primary.0');

/*default colors*/
$color-primary: $color-primary-light;
$color-on-primary: $color-on-primary-light;
$color-primary-container: $color-primary-container-light;
$color-on-primary-container: $color-on-primary-container-light;
$color-secondary: $color-secondary-light;
$color-on-secondary: $color-on-secondary-light;
$color-secondary-container: $color-secondary-container-light;
$color-on-secondary-container: $color-on-secondary-container-light;
$color-tertiary: $color-tertiary-light;
$color-on-tertiary: $color-on-tertiary-light;
$color-tertiary-container: $color-tertiary-container-light;
$color-on-tertiary-container: $color-on-tertiary-container-light;
$color-error: $color-error-light;
$color-error-container: $color-error-container-light;
$color-on-error: $color-on-error-light;
$color-on-error-container: $color-on-error-container-light;
$color-background: $color-background-light;
$color-on-background: $color-on-background-light;
$color-surface: $color-surface-light;
$color-on-surface: $color-on-surface-light;
$color-surface-variant: $color-surface-variant-light;
$color-on-surface-variant: $color-on-surface-variant-light;
$color-outline: $color-outline-light;
$color-inverse-on-surface: $color-inverse-on-surface-light;
$color-inverse-surface: $color-inverse-surface-light;
$color-inverse-primary: $color-inverse-primary-light;
$color-shadow: $color-shadow-light;
$color-surface-tint: $color-surface-tint-light;
$color-outline-variant: $color-outline-variant-light;
$color-scrim: $color-scrim-light;
