.header {
  background-color: theme('colors.orange.600');
  color: theme('colors.white');

  .header__links {
    padding: theme('spacing.4');
    display: flex;
    flex-direction: column;

    @media (min-width: theme("screens.md")) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .header__actions {
      display: flex;
      justify-content: space-between;

      .header__logo {
        display: flex;
        align-items: center;
      }
  
      .header__toggle__wrapper {
        padding: theme('spacing.2');

        @media (min-width: theme("screens.md")) {
          display: none;
        }
  
        .header__toggle__icon {
          width: theme('spacing.36');
          height: theme('spacing.36');
          max-width: theme('spacing.36');
          max-height: theme('spacing.36');
        }
      }
    }

    .header__menu {

      @media (min-width: theme("screens.md")) {
        position: static;
        display: flex;
        align-items: center;
      }

      .header__item {
        padding: theme('spacing.2');
      }
    }
  }
}