$color-primary: $color-primary-dark;
$color-on-primary: $color-on-primary-dark;
$color-primary-container: $color-primary-container-dark;
$color-on-primary-container: $color-on-primary-container-dark;
$color-secondary: $color-secondary-dark;
$color-on-secondary: $color-on-secondary-dark;
$color-secondary-container: $color-secondary-container-dark;
$color-on-secondary-container: $color-on-secondary-container-dark;
$color-tertiary: $color-tertiary-dark;
$color-on-tertiary: $color-on-tertiary-dark;
$color-tertiary-container: $color-tertiary-container-dark;
$color-on-tertiary-container: $color-on-tertiary-container-dark;
$color-error: $color-error-dark;
$color-error-container: $color-error-container-dark;
$color-on-error: $color-on-error-dark;
$color-on-error-container: $color-on-error-container-dark;
$color-background: $color-background-dark;
$color-on-background: $color-on-background-dark;
$color-surface: $color-surface-dark;
$color-on-surface: $color-on-surface-dark;
$color-surface-variant: $color-surface-variant-dark;
$color-on-surface-variant: $color-on-surface-variant-dark;
$color-outline: $color-outline-dark;
$color-inverse-on-surface: $color-inverse-on-surface-dark;
$color-inverse-surface: $color-inverse-surface-dark;
$color-inverse-primary: $color-inverse-primary-dark;
$color-shadow: $color-shadow-dark;
$color-surface-tint: $color-surface-tint-dark;
$color-outline-variant: $color-outline-variant-dark;
$color-scrim: $color-scrim-dark;