$color-primary: $color-primary-light;
$color-on-primary: $color-on-primary-light;
$color-primary-container: $color-primary-container-light;
$color-on-primary-container: $color-on-primary-container-light;
$color-secondary: $color-secondary-light;
$color-on-secondary: $color-on-secondary-light;
$color-secondary-container: $color-secondary-container-light;
$color-on-secondary-container: $color-on-secondary-container-light;
$color-tertiary: $color-tertiary-light;
$color-on-tertiary: $color-on-tertiary-light;
$color-tertiary-container: $color-tertiary-container-light;
$color-on-tertiary-container: $color-on-tertiary-container-light;
$color-error: $color-error-light;
$color-error-container: $color-error-container-light;
$color-on-error: $color-on-error-light;
$color-on-error-container: $color-on-error-container-light;
$color-background: $color-background-light;
$color-on-background: $color-on-background-light;
$color-surface: $color-surface-light;
$color-on-surface: $color-on-surface-light;
$color-surface-variant: $color-surface-variant-light;
$color-on-surface-variant: $color-on-surface-variant-light;
$color-outline: $color-outline-light;
$color-inverse-on-surface: $color-inverse-on-surface-light;
$color-inverse-surface: $color-inverse-surface-light;
$color-inverse-primary: $color-inverse-primary-light;
$color-shadow: $color-shadow-light;
$color-surface-tint: $color-surface-tint-light;
$color-outline-variant: $color-outline-variant-light;
$color-scrim: $color-scrim-light;