.input-group {
  position: relative;
  z-index: 0;

  &:focus-within ,
  > .form-control:not(:placeholder-shown),
  > .form-control:not(:placeholder-shown):focus,
  > .form-control:not(:placeholder-shown):not(:empty) {

    + .form-control-text {
      z-index: theme('zIndex.10');
      @apply left-0 text-primary-40 scale-75 -translate-y-6;
    }
  }

  .form-control {
    display: block;
    padding: theme('spacing.3') theme('spacing.0');
    width: 100%;
    font-size: theme('fontSize.sm');
    color: theme('colors.neutralVariant.0');
    background-color: transparent;
    border: 0;
    border-bottom: 2px;
    border-color: $color-background;
    border-style: solid;
    appearance: none;

    &:not(:placeholder-shown) {
      min-height: theme('spacing.40');
      font-size: theme('fontSize.base');
    }

    &:focus,
    &:not(:placeholder-shown) {
      outline: none;
      border-color: $color-primary;
    }
  }

  .form-control-text {
    position: absolute;
    font-size: theme('fontSize.sm');
    color: theme('colors.neutralVariant.80');
    @apply duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0];
    @apply left-0 text-neutralVariant-80 scale-100 translate-y-0;
  }
}